/*Canciones ----------------------------------------------------------------------------------*/
.colorLista {
  background-color: #f8c794;
}

.colorFondos {
  background-color: #f8c794;
}

.centrado {
  text-align: center;
}

/*----------------------------------------------------------------------------------*/

th {
  /* tira los th a la derecha*/
  text-align: left;
}

table, /* bordes*/
th,
td {
  border: 1px solid;
  border-collapse: collapse;
}

th, /* espacop entre cada columna y fila*/
td {
  padding: 15px;
  text-align: left;
}

li{
  list-style-type: circle
}


a, a:visited {
  color: blue;
}