{% extends "base.html" %} 

{% block title %}Lista de Artistas{% endblock %}

{% block color %}colorArtistas{% endblock %}

{%block content %}
  <h1 class="centrado">Artistas:</h1>
  <ul class="colorLista" style="list-style: none">
    <table id="artista" class="table">
      <tr>
        <th>Artista</th>
        <!-- fila-->
        <th>cantDiscos</th>
        <th>cantCanciones</th>
      </tr>
      {% for artista in artistas %}
      <tr>
        <td>
          <a
            class="action"
            href="{{ url_for('artista.detalle', id=artista['aId']) }}"
            >{{ artista['Artista'] }}</a
          >
        </td>
        <td>{{ artista['cantAlbums'] }}</td>
        <td>{{ artista['cantCanciones'] }}</td>
      </tr>
      {% endfor %}
    </table>
  </ul>
{% endblock %}
