<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detalle de Album</title>
    <link
      rel="stylesheet"
      tpye="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="colorFondosCanciones">
    <h1 class="centrado"> Album: <td>{{ disco['Titulo'] }}</td></h1>
    <ul class="colorListaCanciones" style="list-style: none">
      <table class="table">
        <tr class="canciones">

          <!-- fila-->
          <th>Artista</th>
        </tr>

        <tr class="canciones">
          <!--Titulo Album-->
          <!--Nombre Artista-->
          <td>
            <a
              class="action"
              href="{{ url_for('artista.detalleArtista', id=disco['idA']) }}"
            >{{ disco['Artista'] }}</a>
          </td>
          
        </tr>
      </table>
    </ul>
  </body>
</html>
