{% extends "base.html" %} 


{% block title %}Lista de discos{% endblock %}

{% block content %}
    <h1 class="centrado">Discos:</h1>
    <ul class="colorLista" style="list-style: none">
      <table id="disco" class="table">
        <tr>
          <th>Disco</th>
          <!-- fila-->
          <th>Artista</th>
          <th>cantCanciones</th>
        </tr>
        {% for album in discos %}
        <tr>
          <td>
            <a
              class="action"
              href="{{ url_for('disco.detalle', id=album['Id']) }}"
            >
            {{ album['Album'] }}</a>
          </td>
          <!--Elemento-->
          <td><a class="action" href="{{ url_for('artista.detalle', id=album['idA']) }}"
            >{{ album['Artista'] }}</a></td>
          <td>{{ album['cantCanciones'] }}</td>
        </tr>
        {% endfor %}
      </table>
    </ul>
{% endblock %}