<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista de Canciones</title>
    <link
      rel="stylesheet"
      tpye="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="colorFondosCanciones">
    <h1 class="centrado">Canciones:</h1>
    <ul class="colorListaCanciones" style="list-style: none">
      <table class="table">
        <tr class="canciones">
          <th>Nombre</th>
          <!-- fila-->
          <th>Artista</th>
          <th>Album</th>
          <th>Genero</th>
        </tr>
        {% for track in canciones %}
        <tr class="canciones">
          <td>
            <a
              class="action"
              href="{{ url_for('cancion.detalleCancion', id=track['idC']) }}"
              >{{ track['Nombre'] }}</a
            >
          </td>
          <!--Elemento-->
          <td>
            <a
              class="action"
              href="{{ url_for('artista.detalleArtista', id=track['idA']) }}"
            >{{ track['Artista'] }}</a>
          </td>
          <td>
            <a class="action" href="{{ url_for('disco.detalle', id=track['idD']) }}">{{ track['Album'] }}</a></td>
          <td>
            <a class="action" href="{{ url_for('genero.detalleGenero', id=track['idG']) }}"
            >{{ track['Genero'] }}</a>
          </td>
        </tr>
        {% endfor %}
      </table>
    </ul>
  </body>
</html>
