<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detalle de Canciones</title>
    <link
      rel="stylesheet"
      tpye="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="colorFondosCanciones">
    <h1 class="centrado">Canciones:</h1>
    <ul class="colorListaCanciones" style="list-style: none">
      <table class="table">
        <tr class="cancion">
          <th>Nombre</th>
          <!-- fila-->
          <th>Artista</th>
          <th>Album</th>
          <th>Genero</th>
          <th>Duracion</th>
          <th>Bytes</th>
        </tr>
        <tr class="canciones">
          <td>{{ track['Nombre'] }}</td>
          <!--mostrar link artista-->
          <td>
            <a
              class="action"
              href="{{ url_for('artista.detalleArtista', id=track['idA']) }}"
            >{{ track['Artista'] }}</a>
          </td>
          <!--mostrar link album-->
          <td>
            <a class="action" href="{{ url_for('disco.detalle', id=track['idD']) }}"
            >{{ track['Album'] }}</a>
          </td>
          <!--mostrar link genero-->
          <td>
            <a class="action" href="{{ url_for('genero.detalleGenero', id=track['idG']) }}"
            >{{ track['Genero'] }}</a>
          </td>
          <td>{{ track['duracion'] }}</td>
          <td>{{ track['byte'] }}</td>
        </tr>
      </table>
    </ul>
  </body>
</html>
