<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Lista de Canciones</title>
    <link
      rel="stylesheet"
      tpye="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="colorFondosCanciones">
    <h1 class="centrado">Canciones:</h1>
    <ul class="colorListaCanciones" style="list-style: none">
      <table class="table">
        <tr class="canciones">
          <th>Nombre</th>
          <!-- fila-->
          <th>Artista</th>
          <th>Album</th>
          <th>Genero</th>
          <th>Duracion</th>
          <th>Bytes</th>
        </tr>
        <tr class="canciones">
          <td>{{ track['Nombre'] }}</td>
          <!--Elemento-->
          <td>{{ track['Artista'] }}</td>
          <td>{{ track['Album'] }}</td>
          <td>{{ track['Genero'] }}</td>
          <td>{{ track['duracion'] }}</td>
          <td>{{ track['byte'] }}</td>
        </tr>
      </table>
    </ul>
  </body>
</html>
