{% extends "base.html" %} 

{% block title %}Detalle de Canciones{% endblock %}

{% block color %}colorCanciones{% endblock %}

{% block content %}
    <h1 class="centrado">{{ track['Nombre'] }} - 
      <a
      class="action"
      href="{{ url_for('artista.detalle', id=track['idA']) }}"
      >{{ track['Artista'] }}
      </a>
    </h1>
    <ul class="colorLista" style="list-style: none">
      <table class="table">
        <tr>
          <th>Album</th>
          <th>Genero</th>
          <th>Duracion</th>
          <th>Bytes</th>
        </tr>
        <tr>
          <!--mostrar link album-->
          <td>
            <a class="action" href="{{ url_for('disco.detalle', id=track['idD']) }}"
            >{{ track['Album'] }}</a>
          </td>
          <!--mostrar link genero-->
          <td>
            <a class="action" href="{{ url_for('genero.detalle', id=track['idG']) }}"
            >{{ track['Genero'] }}</a>
          </td>
          <td>{{ track['duracion'] }}</td>
          <td>{{ track['byte'] }}</td>
        </tr>
      </table>
    </ul>
{% endblock %}