<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Detalle de genero</title>
    <link
      rel="stylesheet"
      tpye="text/css"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body class="colorFondos">
    <h1 class="centrado">{{ genero['Nombre'] }}</h1>
    <h2>Canciones de este genero:</h2>
    <ul class="colorLista " style="list-style: none">
        {% for cancion in listaCanciones %}
            <li>
              <a href="{{ url_for('cancion.detalle', id=cancion['tId']) }}">{{ cancion['Cancion'] }}</a>
            </li>
        {% endfor %}  
    </ul>
  </body>
</html>
